<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.final0">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Recipes"></activity>
        <activity android:name=".Exercises" />
        <activity android:name=".Programs" />
        <activity android:name=".AnaEkran" />
        <activity android:name=".deneme" />
        <activity android:name=".Goal" />
        <activity
            android:name=".TheScreen"
            android:label="@string/title_activity_the_screen" />
        <activity android:name=".CurWeight" />
        <activity
            android:name=".Ekran"
            android:label="@string/title_activity_ekran" />
        <activity android:name=".AimWight" />
        <activity android:name=".GenderAge" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>